<!-- 카페 정보 ㄴㄴ -->
<!-- 카페에 등록된 글 ㅇㅇ -->
<h1><%=@cafe.title%></h1>
<p><%=@cafe.description%></p>

<ul class="list-group">
  <% @cafe.posts.each do |post| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
     
      <%= link_to "#{post.title}", post_path(post) %>
      <span class="badge badge-primary badge-pill"><%=post.comments.count%></span>
</li>

<% end %>
<!--카페가입-->
<%=link_to '카페 가입', join_cafe_path(@cafe),method: "POST",class: "btn btn-primary text-white"%>
<!--카페 새글 등록-->
<%= link_to '새 글 쓰기',new_post_path(cafe_id: @cafe.id),class:'btn btn-info'%>